<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!--mapper임을 명시하기 위한 DTD 선언 -->

<mapper namespace="mapper.BoardMapper">  <!-- namespace는 다른 파일과 이름이 중복되면 안된다 -->

	<insert id="insertBoard" parameterType="com.spring.training.board.dto.BoardDto">  <!-- 복붙 추천 -->
		INSERT INTO T_BOARD(
					WRITER,
					EMAIL,
					SUBJECT,
					PASSWORD,
					REG_DATE,
					READ_COUNT,
					CONTENT)
		VALUES(
					#{writer}, <!-- 주의: 대소문자 구별함! -->
					#{email},
					#{subject},
					#{password},
					now(), 
					#{readCount},
					#{content} 
					
		)
		
	</insert>
							<!-- db컬럼명과 스프링 POJO의 필드와 매칭되는 설정 -->
	<select id="getAllBoard" resultType="com.spring.training.board.dto.BoardDto"> <!-- resultType: 반환타입 - Dto -->
	SELECT 
			*
	FROM
			T_BOARD <!-- ; 쓰는거 맞아?  답: 안씀 -->
	
	</select>
	
	<select id="getOneBoard" parameterType="int" resultType="com.spring.training.board.dto.BoardDto">
		SELECT
				*
		FROM
				T_BOARD
		WHERE
				NUM= #{num}
	
	</select>
	
	
</mapper>
